[Unit]
Description=RClone G-Suite mount
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount ccsf1: /mnt/gsuite --vfs-cache-mode writes --allow-other

[Install]
WantedBy=multi-user.target